# First Steps: Print Function, Running Code, Creating a Variable, Types of Data, Useful Resources

## *The Print Function*


### - The print function in Python is a useful tool with a variety of purposes. You will most likely use it to print the result of some code that you've written, or the output of some kind of calculation. However, if you're writing code and it continues to fail, you can use the print function to help find where the error is happening. You can even use it to figure out if a python script is written in Python 2 or Python 3. 

### - Instead of just talking about it, let's practice using it. The basic format to run the print function is as follows:

#### - The command print, followed by whatever you want to print contained within parenthesis: print(stuff)

In [4]:
# This is a comment. This is a good way to write notes without interfering with your python script.

print('stuff')

stuff

### You can see above that we have successfully printed the word: stuff. Though you might notice that I put a quotation mark at the beginning and end of the word: 'stuff'. The quotation marks tell Python that I want it to print the string of letters contained within the quotation marks.

### This can work for any combination of letters, number, and symbols:

### For example:

In [3]:
print('123')

print('1 and 2 and 3')

print('iubf3uh3498h3ef')

print('!&^$@@^$!&')

123
1 and 2 and 3
iubf3uh3498h3ef
!&^$@@^$!&

### - As you can see, the print function will print whatever words, letters, numbers, or symbols that you tell it to. Though it is not limited to only printing words, letters, numbers and symbols. It can also print variables.

## *Creating a Variable & Data Types*


### - In the example below we will begin by creating a variable, stuff. Think of a variable as a place holder for some kind of information. It can be a number, a string of letters, a mathematical constant, the name of a planet, anything. 

### - After creating the variable, we will use the print function to discuss the different data types that exist in Python: string, integer, and float.

In [12]:
stuff = 5

print(stuff)

print(float(stuff))

print(str(stuff))

print('5')

print('stuff')

5
5.0
5
5
stuff

### - The first line in the output above is the number 5. It is an integer, or rather a whole number without a decimal point. 

### - The second line in the output above is what's called a float, or a number with a decimal point. In this case, the float(5) is equal to 5.0

### - The third line in the output above is the string version of 5. Being a string means that it no longer functions as a number. Instead, Python now treats it like text, just like a word, letter, or symbol. 

### - The fourth line is also the string version of 5, though I changed the print function. You can see that there is no difference between the third and fourth line. They are both strings, and both considered text.

### - The fifth line shows what happens if you put the variable inside of quotation marks. Instead of printing the number 5, it now prints the word stuff.

## *Data Types Continued*

### In the example below, we will continue to explore the difference between data types using basical mathematical functions, like addition ( + ), subtraction ( - ), mulitplication ( * ), and division ( / ). 


### To begin, we will create two new variables: stuff, things

In [15]:
stuff = 5

things = 2

print(stuff+things)

print(stuff-things)

print(stuff*things)

print(stuff/things)

7
3
10
2.5

### Before I explain the different outputs, let's use make our print statements easier to understand

In [17]:
stuff = 5

things = 2

stuff_and_things = 10

print('stuff plus things = {}'.format(stuff+things))

print('stuff minus things = {}'.format(stuff-things))

print('stuff multiplied by things = {}'.format(stuff*things))

print('stuff divided by things = {}'.format(stuff/things))

stuff plus things = 7
stuff minus things = 3
stuff multiplied by things = 10
stuff divided by things = 2.5

### - The variables in the cell above are integers. 

### - When running mathematical operations on integers, Python will default to treating them like intergers. That said, decimals will inevitably be created when using Python to do math calculations. When that happens, Python will treat the number like a float, allowing to have a decimal value.


### - In the output above, three of the four lines are integers. 5 + 2 =7, 5 - 2 =3. and 5 x 2 = 10. The fourth line is 5 divided by 2 or, 5 / 2 = 2.5. 

### Now, as much as Python likes to treat integers like integers, it also likes to treat float values like float values. You can see in the example below that changing one of the variables, stuff, to a float value, causes all of the final outputs to be float values. This happens even though the variable things is still an integer. Float values supercede integers.

In [20]:
stuff = 5.0

things = 2

stuff_and_things = 10

print('stuff plus things = {}'.format(stuff+things))

print('stuff minus things = {}'.format(stuff-things))

print('stuff multiplied by things = {}'.format(stuff*things))

print('stuff divided by things = {}'.format(stuff/things))

stuff plus things = 7.0
stuff minus things = 3.0
stuff multiplied by things = 10.0
stuff divided by things = 2.5

### However, there are also functions in Python known as: int( ), float( ), and str( ). 

### int( ) converts numbers to integers

### float( ) converts numbers to float values

### and str( ) converts anything to a string

### In the example below, using int( ) on the float value 5.0 changes the final outputs to be identical to the first example where both variables were integers.

In [21]:
stuff = int(5.0)

things = 2

stuff_and_things = 10

print('stuff plus things = {}'.format(stuff+things))

print('stuff minus things = {}'.format(stuff-things))

print('stuff multiplied by things = {}'.format(stuff*things))

print('stuff divided by things = {}'.format(stuff/things))

stuff plus things = 7
stuff minus things = 3
stuff multiplied by things = 10
stuff divided by things = 2.5

### The same is true for float( ). 

### Using float( ) on the things variable causes the final output to change to float values

In [22]:
stuff = 5

things = float(2)

stuff_and_things = 10

print('stuff plus things = {}'.format(stuff+things))

print('stuff minus things = {}'.format(stuff-things))

print('stuff multiplied by things = {}'.format(stuff*things))

print('stuff divided by things = {}'.format(stuff/things))

stuff plus things = 7.0
stuff minus things = 3.0
stuff multiplied by things = 10.0
stuff divided by things = 2.5

## Admittedly, this may not be the most exciting topic; but understanding data types in Python is essential. I cannot tell you how much time I've spent troubleshooting issues in code when the real problem has been a conflict in data type.

### For example, multiplying a string and an integer will give you the following error:

In [24]:
stuff = '5'

things = 2

print('stuff multiplied by things = {}'.format(stuff*things))

stuff multiplied by things = 55

### 5 x 2 does not equal 55. Instead, the output above is the string value 5 multiplied by two. Or rather it is the string value 5 repeated after itself. This can be done to unlimited times, like so:

In [27]:
stuff = '5'

things = 1000

print('stuff multiplied by things = {}'.format(stuff*things))

stuff multiplied by things = 5555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555

### The output above is the string value 5 repeated 1000 times. 

### You can do the same with any string:

In [30]:
stuff = '1,2,3,4,5,'

things = 100

print('stuff multiplied by things = {}'.format(stuff*things))

stuff multiplied by things = 1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,

In [32]:
stuff = 'sunset, platinum, lotus,'

things = 100

print('stuff multiplied by things = {}'.format(stuff*things))

stuff multiplied by things = sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,sunset, platinum, lotus,

### String values multiplied by float values will give you the following error:

In [33]:
stuff = 'sunset, platinum, lotus,'

things = 2.0

print('stuff multiplied by things = {}'.format(stuff*things))

TypeError: can't multiply sequence by non-int of type 'float'

### Instead of repeating the phrase: 'sunset, platinum, lotus', the process breaks. 

### This leads us to another essential Python skill, reading error messages. The error messages that Python prints are intended to help you solve an issue in your code. Often this will be a missing comma, or an extra paranthesis somewhere. Though sometimes it is a more serious issue like this one, where we have conflicting data types.

### The best way to solve Python errors, after attempting to solve them yourself, is to search the error message online. It is almost guaranteed that someone else in the world has already faced the same problem that you are, and there is already a solution posted online. 

### Stack Overflow (https://stackoverflow.com/) is one of the best resources. Though there are many other blogs and forums out there.

### In this case, searching: 'can't multiply sequence by non-int of type 'float'' led me to this page: https://stackoverflow.com/questions/485789/why-do-i-get-typeerror-cant-multiply-sequence-by-non-int-of-type-float . There you can find comments from other people who have had this problem. Some of their comments won't be useful to you, others may help you fix your problem. It just takes time and research to find the solution that best suits your problem.